<!doctype html>
<html ng-app="todoApp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular todo app</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/todo.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="js/todo.js"></script>
  <script src="js/config.js"></script>
</head>
<body>

<h2>Todo</h2>

<div ng-controller="TodoListController as todoList">
  <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
  <ul class="unstyled">
    <li ng-repeat="todo in todoList.todos">
      <input type="hidden" ng-model="todo.id">
      <input type="checkbox" ng-change="todoList.updateTodo()" ng-model="todo.done">
      <span class="done-@{{todo.done}}">{{todo.text}}</span>
    </li>
  </ul>
  <form ng-submit="todoList.addTodo()">
    <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
    <input class="btn btn-primary" type="submit" value="add">
  </form>
</div>
</body>
</html>